# pgstac / postgres
POSTGRES_USER=username
POSTGRES_PASSWORD=password
POSTGRES_DB=postgis
POSTGRES_HOST=pgstac
POSTGRES_PORT=5432

# stac-fastapi
APP_HOST=0.0.0.0
APP_PORT=8080
ENVIRONMENT=local
WEB_CONCURRENCY=4
RELOAD=true

# titiler
TITILER_PORT=8000

# minio
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin
MINIO_BUCKET=stac-assets
